* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.footer {
    background-color: black;
    color: #fefefe;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
}

.footer .heading {
    color: #fefefe;
    max-width: 1010px;
    width: 90%;
    text-transform: uppercase;
}