* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.footer {
    background-color: black;
    color: #fefefe;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
}

.footer .heading {
    color: #fefefe;
    max-width: 1010px;
    width: 90%;
    text-transform: uppercase;
    margin: 0 auto;
    margin-bottom: 3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Rearranging the div contents in columns*/
.footer .content {
    display: flex;
    justify-content: space-evenly;
    margin: 1.5rem;
}

.footer .content p {
    margin-bottom: 1.3rem;
}

.footer .content a {
    text-decoration: none;
    color: #fefefe;
}